mach5ImagePullSecret:
  createSecretResources: false
  dockerconfigjson: ""
keycloak:
  master:
    username: ""
    password: ""
  nodeassignment:
        nodeSelector:
metadatadb:
  name: "postgres"
  host: "postgresdb"
  port: "5432"
  sslmode: "disable"
  user: "postgres"
  password: 
  externalPostgresdb: false
  pvc:
    storageclass: "gp2"
  emptydir:
    enabled: false
  nodeassignment:
        nodeSelector:
ubbagent:
    nodeassignment:
        nodeSelector:
flux:
  nodeassignment:
      nodeSelector:
fdbreconciler:
  nodeassignment:
    nodeSelector:
mediator:
  nodeassignment:
    enabled: true
  replicaCount: 1
  existingClaim: false
  cstoreSegmentCache:
    enabled: true
  loglevel: info
  useGcpInstanceMetadata: false
  cstoreCachefs:
    rcachepvsize: "8589934592" #8GB
    pvsize: "8589934592" #8GB
  resourceLimit:
    enabled: false
pvc:
  storageclass: "gp2"
teleportcollector:
  nodeassignment:
    nodeSelector:
mediator:
  useGcpInstanceMetadata: "false"
mediatorwarehousecontroller:
  nodeassignment:
    nodeSelector:
  workernodeselector:
    nodeSelector:
  headnodeselector:
    nodeSelector:
  customnode:
    enabled: true
    workerresource:
      mediator:
        memory: "4294967296" # 4GB
    headresource:
      ir:
        memory: "1073741824" # 1GB
      os:
        memory: "4294967296" # 4GB
      osd:
        memory: "1073741824" # 1GB
      mdx:
        memory: "1073741824" # 1GB
mediatorcompactorcontroller:
  nodeassignment:
    nodeSelector:
  compactornodeselector:
    nodeSelector:
  cstoreCachefs:
    rcachepvsize: "1073741824" #1GB
    pvsize: "1288490189" #1.2GB
  compaction_resources:
    #enabled: true
    max_compaction_memory:
      enabled: true
      value: "536870912" # 512M
    limits:
      memory:
        enabled: true
        value: "2048Mi"
  delete_compaction_resources:
    limits:
      memory:
        enabled: true
        value: "2048Mi"
  finalize_compaction_resources:
    limits:
      memory:
        enabled: true
        value: "2048Mi"
mediatoringestorcontroller:
  nodeassignment:
    nodeSelector:
  ingestornodeselector:
    nodeSelector:
  cstoreCachefs:
    mountroot: /cachefs
    rcachepv: /ingest
    rcachepvsize: "1073741824" #1GB
    pvsize: "1288490189" #1.2GB
  ingestion_resources:
    limits:
      memory:
        enabled: true
        value: "2048Mi"
nginx:
  nodeassignment:
    nodeSelector:
  loadBalancerInternal: "true"
  loadBalancerSourceRanges:
    - "0.0.0.0/0"
  awsElbHttps:
    enabled: false
    sslCertARN: arn:aws:iam::user:server-certificate/id # Add ACM's ARN
argo-workflows:
  # -- Keep CRDs on chart uninstall
  crds:
    install: true
    keep: false
prometheus:
  enabled: false
  retentionSize: "8GB"
  server:
    persistentVolume:
      enabled: true
      size: 10Gi
    service:
      type: LoadBalancer
      loadBalancerSourceRanges: ["0.0.0.0/0"] # Change this to your CIDR
      annotations:
        service.beta.kubernetes.io/aws-load-balancer-internal: "true"
mdserver:
  metering:
    enabled: true
  nodeassignment:
    nodeSelector:
meteringserver:
  nodeassignment:
    nodeSelector:
metricsserver:
  nodeassignment:
    nodeSelector:
msearchserver:
  nodeassignment:
    nodeSelector:
cstorecacheserver:
  nodeassignment:
    nodeSelector:
  pvc:
    name: "ccs-ssd"
    size: "10Gi" # 10GB 
dataexplorer:
  nodeassignment:
    nodeSelector:
mediatormaterializedviewcontroller:
  nodeassignment:
    nodeSelector:
  cstoreCachefs:
    rcachepv: /rcache
    rcachepvsize: "6442450944" #6GB
    pvsize: "6657199309" #6.2GB
  mv_resources:
    limits:
      memory:
        enabled: true
        value: 2048Mi
  ingestornodeselector:
    nodeSelector:
otel:
  nodeassignment:
    nodeSelector:
mediatorindexrouter:
  nodeassignment:
    nodeSelector:
foundationdb:
    enableOperator: true
    clusterName: fdb-txn-cluster
    clusterFilePath: /etc/foundationdb/fdb.cluster
    enableFdbCluster: true
    operator:
        nodeassignment:
            nodeSelector:
    spec:
        version: 7.3.70
        automationOptions:
            replacements:
                enabled: true
        faultDomain:
            key: foundationdb.org/none
        imageType: split
        labels:
            filterOnOwnerReference: false
            matchLabels:
                foundationdb.org/fdb-cluster-name: fdb-txn-cluster
            processClassLabels:
                - foundationdb.org/fdb-process-class
            processGroupIDLabels:
                - foundationdb.org/fdb-process-group-id
        minimumUptimeSecondsForBounce: 60
        processCounts:
            cluster_controller: 1
            stateless: -1
        processes:
            general:
                customParameters:
                    - knob_disable_posix_kernel_aio=1
                podTemplate:
                    spec:
                        nodeSelector:
                        containers:
                            - name: foundationdb
                              resources:
                                  limits:
                                      cpu: 500m
                                      memory: 512Mi
                                  requests:
                                      cpu: 100m
                                      memory: 128Mi
                              securityContext:
                                  runAsUser: 0
                            - name: foundationdb-kubernetes-sidecar
                              resources:
                                  limits:
                                      cpu: 500m
                                      memory: 512Mi
                                  requests:
                                      cpu: 100m
                                      memory: 128Mi
                              securityContext:
                                  runAsUser: 0
                        initContainers:
                            - name: foundationdb-kubernetes-init
                              resources:
                                  limits:
                                      cpu: 500m
                                      memory: 512Mi
                                  requests:
                                      cpu: 100m
                                      memory: 128Mi
                              securityContext:
                                  runAsUser: 0
                volumeClaimTemplate:
                    spec:
                        resources:
                            requests:
                                storage: 20G
        routing:
            defineDNSLocalityFields: true
        sidecarContainer:
            enableLivenessProbe: true
            enableReadinessProbe: false
        useExplicitListenAddress: true

serviceAccount:
  create: false
  name: 
